
<h2>Welcome To Admin Dashboard Page</h2>

<div class="alert alert-success" role="alert">
    We currently have <%= @products %> products.
</div>
<div class="alert alert-success" role="alert">
    We currently have <%= @categories %> categories.
</div>