
<h1>About Us</h1>

<p>

We look forward to welcoming you to our stores!
Jungle was established in 1984 and over the years we have put down roots in 10 local communities. 

</p>

<p>
Our stores are all LOCALLY OWNED and Operated and we strive to be as much a part of these local communities as the guests that visit our stores. 

At Jungle, we want to Improve the wellbeing of our world through plants. 
Our main mission is to help everyone connect to plants by providing the right tools, knowledge and inspiration to grow. We’re for plants. 
We’re unapologetic about our love of plants and want to share this passion with every person who crosses our path. Because plants are more than plants. They’re life.

Because we LOVE Plants and our communities we are continually working to offer as many locally grown and produced products in our stores as possible. 
In-store, our knowledgeable staff is on hand to answer all your gardening and product questions. 
</p>

<p>
Our goal is to offer you the highest possible quality of products and we want you to be successful in all your gardening projects which is why all our plants and products are covered by our Jungle Guarantee. 
If any product doesn't meet your expectations, simply bring it back with the original receipt and we will replace it, offer a store credit or refund your purchase. 

</p>
